* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: black;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: darkblue;
}

header>h1 {
    color: white;
    text-align: center;
    font-size: 1.3rem;
}

div .head {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

div .items {
    width: 30px;
    height: 3px;
    background-color: white;
}















/* knten */
main {
    background-color: white;
}

nav {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 10vh;
    background-color: black;
    border-bottom-right-radius: 10px;
    opacity: 90%;
    width: 70%;
    height: 90vh;
    padding: 20px;
    z-index: 1;
}

.nav-profil {
    display: flex;
    align-items: center;
    flex-direction: row;
    color: white;
    margin-top: -3vh;
    margin-bottom: 2vh;
    padding: 5px;
    gap: 15px;
    border-bottom: 2px solid white;

}

#prof {
    width: 15%;
    border-radius: 100%;
}

.nav-profil>h2 {
    width: 100%;
    font-family: sans-serif;
    font-size: 20px;
    text-align: left;
}



ul,
li {
    margin-bottom: 20px;
    list-style: none;
}

li>a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 550;
}

li>a:hover {
    transition: all 1s;
    color: aqua;
    text-decoration: underline;
}

#content {
    background-color: black;
    width: 100%;
    height: 90vh;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    margin-top: 10vh;
    color: white;
    text-align: justify;
    overflow-y: scroll;
}

#home {
    display: flex;
    flex-direction: column;
    height: 80vh;
}

#banner {
    width: 100%;
    height: 20vh;
    object-fit: cover;
    border-bottom: 1.5px solid white;
}

.name {
    margin-top: 3vh;
    text-align: center;
}

.joined {
    margin-top: 2vh;
}

.button-follow {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 5vh;
}

.follow {
    width: 20%;
    padding: 10px;
    color: white;
    background-color: transparent;
    border: 1.5px solid white;
    border-radius: 10px;
}

.resume {
    width: 20%;
    padding: 10px;
    color: white;
    background-color: transparent;
    border: 1.5px solid white;
    border-radius: 10px;
}

.follow:hover {
    cursor: pointer;
    background-color: aqua;
    border: 1.5px solid black;
    color: black;
    transition: all 1s;
}

.resume:hover {
    cursor: pointer;
    background-color: aqua;
    border: 1.5px solid black;
    color: black;
    transition: all 1s;
}

.profil {
    display: flex;
    justify-content: center;
    width: 100%;
}

.profil>img {
    top: 0;
    margin-top: 2vh;
    border: 2px solid white;
    width: 25%;
    border-radius: 10%;
}


/* about me */
#aboutMe {
    margin-top: 10vh;
    padding: 10px;
}

#aboutMe>h1 {
    text-align: center;
}

#aboutMe>p {
    text-align: justify;
    margin-top: 1vh;
}







/* education */
#education {
    margin-top: 10vh;
    padding: 10px;
}

.card-edu {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card-item {
    display: flex;
    flex-direction: column;
}

.card-image {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.card-info {
    width: 100%;
    background-color: darkblue;
    padding: 10px;
    height: 25vh;
}

.card-image>img {
    width: 50%;
}

.card-info>.alamat {
    font-size: 1rem;
    font-style: italic;
}

.card-info>.jurusan {
    margin-top: 2vh;
    font-weight: 600;
    font-size: 1.4rem;
}













/* skills */
#skills {
    margin-top: 10vh;
    padding: 10px;
}

.card-skill {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-skill-item {
    display: flex;
    width: 100%;
    background-color: darkblue;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.image-skill>img {
    width: 60%;
    height: auto;
}

.detail-skill>p {
    font-size: 1rem;
    font-weight: bold;
}

















/* project me */
#project {
    margin-top: 10vh;
    padding: 10px;
}

.card-project {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 2vh;
}

.card-project-item {
    width: 100%;
    height: auto;
    background-color: darkblue;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.image-project {
    width: 100%;
    background-color: white;
    padding: 10px;
    height: 40vh;
    border-radius: 10px;
}

.image-project>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


.detail-project {
    padding: 10px;
}

.detail-project>h2 {
    font-size: 1.5rem;
}

.detail-project>p {
    font-size: 1rem;
    text-align: justify;
    margin-top: 1vh;
}

.view {
    width: 100%;
    margin-top: 2vh;
    background-color: aliceblue;
    text-align: center;
    font-weight: 600;
    padding: 10px;
}

.view>a {
    color: black;
    text-decoration: none;
}

.view:hover {
    background-color: aqua;
    transition: all 1s;
}













/* contact */
#contact {
    margin-top: 10vh;
    padding: 10px;
    background-color: darkblue;
}

#contact>h1 {
    text-align: center;
}


.card-sosmed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2vh;
    padding: 20px;
}

.card-sosmed>a>img {
    width: 90%;
    height: auto;
}

.card-sosmed>a>img:hover {
    border-bottom: 1px solid white;
}







iframe {
    width: 100%;
    height: 40vh;
    border-radius: 10px;
}










footer {
    padding: 20px;
    text-align: center;
}












/* media query */
/* phone */
@media only screen and (max-width: 600px) {
    .peringatan {
        display: none;
    }
}

/* potrait*/
@media only screen and (min-width: 600px) {
    .container {
        display: none;
    }

    .peringatan {
        width: 90%;
        margin: 0 auto;
        height: 90vh;
        display: flex;
        align-items: center;
    }

    .peringatan>h1 {
        text-align: center;
        color: white;
        font-style: italic;
        padding: 10px;
        border-top: 3px solid white;
        font-style: italic;
        border-bottom: 3px solid white;
    }
}

/* tablet */
@media only screen and (min-width: 768px) {
    .container {
        display: none;
    }

    .peringatan {
        width: 50%;
        margin: 0 auto;
        height: 90vh;
        display: flex;
        align-items: center;
    }

    .peringatan>h1 {
        text-align: center;
        color: white;
        font-style: italic;
        padding: 10px;
        border-top: 3px solid white;
        font-style: italic;
        border-bottom: 3px solid white;
    }
}

/* laptop */
@media only screen and (min-width: 992px) {
    .container {
        display: none;
    }

    .peringatan {
        width: 50%;
        margin: 0 auto;
        height: 90vh;
        display: flex;
        align-items: center;
    }

    .peringatan>h1 {
        text-align: center;
        color: white;
        font-style: italic;
        padding: 10px;
        border-top: 3px solid white;
        font-style: italic;
        border-bottom: 3px solid white;
    }
}

/* desktop */
@media only screen and (min-width: 1200px) {
    .container {
        display: none;
    }

    .peringatan {
        width: 50%;
        margin: 0 auto;
        height: 90vh;
        display: flex;
        align-items: center;
    }

    .peringatan>h1 {
        text-align: center;
        color: white;
        font-style: italic;
        padding: 10px;
        border-top: 3px solid white;
        font-style: italic;
        border-bottom: 3px solid white;
    }
}
